﻿.page {
    position: relative;
    display: flex;
    flex-direction: row;
}

main {
    flex: 1;
    display: grid;
    grid-template-areas:
        'header header'
        'menu content';
    grid-template-columns: [menu] clamp(240px, 28%, 300px) [content] auto;
    max-height: 100vh;
    overflow: hidden;
}

.sidebar-container {
    grid-area: menu;
}

.content {
    width: 100%;
    grid-area: content;
    max-height: 92vh;
    overflow-y: scroll;
}

.top-row {
    background-color: #3f7dcd;
    color: white;
    border-bottom: 1px solid #5ca0e5;
    justify-content: flex-end;
    height: 2.5%;
    max-height: 90px;
    min-height: 60px;
    display: flex;
    align-items: center;
    grid-area:header;
}

    .top-row a {
        margin-right: auto;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }


@media (max-width: 639px) {

    .content {
        overflow-y: auto;
    }
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }

    main {
        flex: 1;
        display: grid;
        grid-template-areas:
            'menu'
            'content';
        grid-template-columns: auto;
    }
}

@media (min-width: 640px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        display: block;
        position: sticky;
        top: 0;    
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, .content {
        padding-right: 1.5rem !important;
    }

    .content {
        padding-left: 2rem !important;
    }
}
