﻿@inherits LayoutComponentBase
@inject AppStateManager AppStateManager

<div class="page">
    <main>
        <div class="top-row">
            <a class="navbar-brand" style="text-decoration: none; text-align:left; color:white" href="">
                <img src="/logo.png" style="height:36px;width:36px;" /> 
                <span style="vertical-align:middle;">GitIssueManager</span>
            </a>

            @if (AppStateManager.Connected)
            {
                <div style="margin-right:8px;">Connected to: @AppStateManager.CurrentSettings?.GitService @AppStateManager.CurrentSettings?.RepositoryId</div>
                <button @onclick="Logout" class="btn btn-primary">Logout</button>
            }
        </div>

        <div class="sidebar-container">
            <div class="sidebar">
                <NavMenu />
            </div>
        </div>


        <article class="content px-4">
            <ErrorBoundary @ref="_errorBoundary">
                <ChildContent>
                    @if (AppStateManager.Connected)
                    {
                        @Body
                    }
                    else
                    {
                        <SetupComponent />
                    }
                </ChildContent>
                <ErrorContent>
                    <p class="alert alert-danger" role="alert">
                        @context.Message
                    </p>
                </ErrorContent>
            </ErrorBoundary>

        </article>
    </main>
</div>


@code {
    private ErrorBoundary? _errorBoundary;

    protected override void OnParametersSet()
    {
        _errorBoundary?.Recover();
    }

    private async Task Logout()
    {
        await AppStateManager.ResetState();
    }
}

