﻿<div class="ps-3 navbar navbar-dark burger_menu">
    <div class="container-fluid">
        <a class="navbar-brand" style="text-decoration: none; text-align:left; color:white" href=""><img src="logo.png" style="height:36px;width:36px;" /><span style="vertical-align:middle;">GitIssueManager</span></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable content_container" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="new-issue">
                <span class="oi oi-plus" aria-hidden="true"></span> New Issue
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import-export">
                <span class="oi oi-data-transfer-download" aria-hidden="true"></span> Import/Export Issue
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
