﻿@using GitIssueManager.CoreLibrary.Models
@inject AppStateManager StateManager
@inject NavigationManager NavigationManager

@page "/"
<PageTitle>Git Issue Manager</PageTitle>

<h3>All issues</h3>

<div>
    <LoadingScreen IsLoading="loading">
        @if (issues is not null)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">State</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <Virtualize Items="issues" TItem="Issue">
                        <tr>
                            <th scope="row">#@context.Number</th>
                            <td>@context.Name</td>
                            <td>@context.Description</td>
                            <td>@context.State</td>
                            <td>
                                <button type="button" class="btn btn-primary" @onclick="() => ModifyIssue(context)">Modify</button>
                            </td>
                            <td>
                                @if (context.State != IssueState.Closed)
                                {
                                    <button type="button" class="btn btn-secondary" @onclick="() => ChangeIssueState(context.Number, IssueState.Closed)">Close</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-success" @onclick="() => ChangeIssueState(context.Number, IssueState.Open)">Open</button>
                                }
                            </td>

                        </tr>
                    </Virtualize>
                </tbody>
            </table>
            @if (currentPage > 1)
            {
                <button type="submit" class="btn btn-secondary" @onclick="GetPreviousPage">Previous page</button>
            }

            @if (!endOfData)
            {
                <button type="submit" class="btn btn-primary" @onclick="GetNextPage">Next page</button>
            }
        }
    </LoadingScreen>
</div>


@code {
    private List<Issue> issues = null;
    private bool endOfData = false;
    private int currentPage = 0;
    private int itemsPerPage = 14;
    private bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        await GetNextPage();
        loading = false;
    }

    private void ModifyIssue(Issue issue)
    {
        NavigationManager.NavigateTo($"/modify-issue/{issue.Number}");
    }

    private async Task ChangeIssueState(long issueNumber, IssueState newState)
    {
        loading = true;
        var issue = issues.Single(x => x.Number == issueNumber);
        issue.State = (await StateManager.GetGitCommunicationManager().ChangeIssueState(issueNumber, newState)).State;
        loading = false;
    }

    private async Task GetNextPage()
    {
        loading = true;
        var issuePage = await GetPage(++currentPage);
        if (issuePage.Count() < itemsPerPage)
            endOfData = true;

        issues = issuePage;

        StateHasChanged();
    }

    private async Task GetPreviousPage()
    {
        loading = true;
        endOfData = false;
        issues = await GetPage(--currentPage);
    }

    private async Task<List<Issue>> GetPage(int pageNumber)
    {
        var data = (await StateManager.GetGitCommunicationManager().GetAllIssues(pageNumber, itemsPerPage)).ToList();
        loading = false;
        return data;
    }
}
