﻿@page "/import-export"
@using GitIssueManager.CoreLibrary.GitCommManager
@using GitIssueManager.CoreLibrary.Models
@using Newtonsoft.Json
@using System.Text
@inject AppStateManager StateManager
@inject IJSRuntime JsRuntime

<PageTitle> Git Issue Manager - Import/Export</PageTitle>

<h3>Import/Export issues</h3>

@if (!string.IsNullOrEmpty(info))
{
    <p class="alert alert-success" role="alert">
        @info
    </p>
}

@if (!string.IsNullOrEmpty(importInfo))
{
    <p class="alert alert-info" role="alert">
        @importInfo
    </p>
}

<form @onsubmit="Import">
    <div class="form-group">
        <label for="importFileInput">Select file to import</label>
        <InputFile id="importFileInput" OnChange="@LoadFile" class="form-control" accept=".json" />
    </div>

    @if (importFile is not null)
    {
        <button type="submit" class="btn btn-primary">Import issues</button>
    }
</form>

<button @onclick="Export" class="btn btn-primary mt-2">Export all issues</button>

@code
{
    private IGitCommunicationManager communicationManager;
    private IBrowserFile importFile;
    private string info = string.Empty;
    private string importInfo = string.Empty;

    protected override void OnInitialized()
    {
        communicationManager = StateManager.GetGitCommunicationManager();
        communicationManager.Update += HandleUpdate;
    }

    private void LoadFile(InputFileChangeEventArgs e)
    {
        importFile = null;
        FileInfo fileInfo = new FileInfo(e.File.Name);
        if (".json" == fileInfo.Extension)
            importFile = e.File;
        else
            throw new InvalidDataException($"Data is in {fileInfo.Extension} format, but should be in .json");
    }

    private void HandleUpdate(UpdateObject updateObject)
    {
        if (updateObject.Type != UpdateType.BulkInsertionUpdate)
            return;

        (int number, string name) ? data = updateObject.Data as (int number, string name)?;   
        if (data is null)
            return;

        info = string.Empty;
        importInfo = $"Importing {data?.number + 1} issue - with name: {data?.name}";
        StateHasChanged();
    }

    public async Task Import()
    {
        info = "Importing please wait...";

        var reader = await new StreamReader(importFile.OpenReadStream()).ReadToEndAsync();
        var importIssues = JsonConvert.DeserializeObject<List<Issue>>(reader);

        await communicationManager.ImportIssues(reader);

        info = "Issues imported";
        importInfo = string.Empty;
    }

    public async Task Export()
    {
        string issuesAsJson = await communicationManager.ExportIssues();
        byte[] issuesAsBytes = Encoding.ASCII.GetBytes(issuesAsJson);
        await JsRuntime.InvokeVoidAsync("saveFile", "issues.json",
                issuesAsBytes, "application/json");
    }
}
