﻿<style>
    .loading_container {
        position: relative;
    }

    div.loading {
        display: block;
        z-index: 101;
        overflow: auto;
    }

    div.loaded {
        display: none;
    }

    .opacity_container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #89B3DC;
        opacity: 0.4;
    }

    .loadindicator {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        min-height: 240px;
        min-width: 240px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
</style>

<div class="loading_container">
    <div class="@_css">
        <div class="opacity_container"></div>
        <div class="loadindicator">
            <span class="spinner-grow spinner-grow-sm text-primary" role="status" aria-hidden="true"></span>
            <span class="sr-only" style="font-size: 1.4rem"> Loading...</span>
        </div>
    </div>
    @if (ChildContent != null)
    {
        @ChildContent
    }
</div>


@code {
    private string _css => this.IsLoading ? "loading" : "loaded";

    [Parameter] public bool IsLoading { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}

