﻿@page "/modify-issue/{IssueNumber}"
@page "/modify-issue"
@using GitIssueManager.CoreLibrary.GitCommManager
@using GitIssueManager.CoreLibrary.Models;
@inject AppStateManager StateManager;


<PageTitle>Git Issue Manager - Modify Issue</PageTitle>

@if (!string.IsNullOrEmpty(info))
{
    <p class="alert alert-success" role="alert">
        @info
    </p>
}

@if (issue is null)
{
    <form @onsubmit="Submit">
        <div class="form-group">
            <label for="issueNumberInput">Type number of issue to modify</label>
            <InputNumber id="issueNumberInput" @bind-Value="issueNumber" class=" form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
}

@if (issue is not null)
{
    <h3>Modify issue #@issue?.Number</h3>

    <EditForm Model="@issue" OnValidSubmit="@SubmitModify">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="issueIdInput">Issue Id</label>
            <InputNumber id="issueIdInput" disabled="true" @bind-Value="issue.Id" class="form-control" />
        </div>

        <div class="form-group">
            <label for="issueNameInput">Name</label>
            <InputText id="issueNameInput" @bind-Value="issue.Name" class="form-control" />
        </div>

        <div class="form-group">
            <label for="issueDescriptionInput">Description</label>
            <InputText id="issueDescriptionInput" @bind-Value="issue.Description" class="form-control" />
        </div>

        <div class="form-group">
            <label for="issueStateInput">State</label>
            <InputSelect id="issueStateInput" @bind-Value="@issue.State" class="form-control" disabled="true">
                @foreach (var state in Enum.GetValues(typeof(IssueState)))
                {
                    <option value="@state">@state</option>
                }
            </InputSelect>
        </div>

        <button type="submit" class="btn btn-primary mb-2 mt-2">Modify</button>
    </EditForm>

    @if (issue.State != IssueState.Closed)
    {
        <button type="submit" @onclick="CloseIssue" class="btn btn-secondary mb-2">Close issue</button>
    }
    else
    {
        <button type="submit" @onclick="OpenIssue" class="btn btn-success mb-2">Open issue</button>
    }
}


@code {
    [Parameter]
    public string? IssueNumber { get; set; }

    private long issueNumber = -1;
    private Issue? issue = null;
    private string info = string.Empty;
    private IGitCommunicationManager gitCommunicationManager;

    protected override void OnInitialized()
    {
        gitCommunicationManager = StateManager.GetGitCommunicationManager();
    }

    protected override async Task OnParametersSetAsync()
    {
        base.OnParametersSet();

        if (!long.TryParse(IssueNumber, out long issueNumber))
            return;

        this.issueNumber = issueNumber;
        await Submit();
    }

    private async Task Submit()
    {
        issue = await gitCommunicationManager.GetIssue(issueNumber);
    }

    private async Task SubmitModify()
    {
        if (issue is null)
        {
            info = "Issue empty!";
            return;
        }

        issue = await gitCommunicationManager.ModifyIssue(issueNumber, issue);
        info = "Issue modified";
    }

    private async Task CloseIssue()
    {
        await ChangeIssueState(IssueState.Closed);
        info = "Issue closed";
    }

    private async Task OpenIssue()
    {
        await ChangeIssueState(IssueState.Open);
        info = "Issue opened";
    }

    private async Task ChangeIssueState(IssueState newState)
    {
        await gitCommunicationManager.ChangeIssueState(issueNumber, newState);
        issue = null;
    }
}