﻿@page "/new-issue"
@using GitIssueManager.CoreLibrary.GitCommManager
@using GitIssueManager.CoreLibrary.Models
@inject AppStateManager StateManager
@inject NavigationManager NavManager


<PageTitle>Git Issue Manager - Create Issue</PageTitle>

<h3>New issue</h3>

<EditForm Model="@issue" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="issueNameInput">Name</label>
        <InputText id="issueNameInput" @bind-Value="issue.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label for="issueDescriptionInput">Description</label>
        <InputText id="issueDescriptionInput" @bind-Value="issue.Description" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Add</button>
</EditForm>


@code{
    private Issue issue = new(string.Empty, string.Empty);
    private IGitCommunicationManager gitCommunicationManager;

    protected override void OnInitialized()
    {
        gitCommunicationManager = StateManager.GetGitCommunicationManager();
    }

    private async Task Submit()
    {
        await gitCommunicationManager.AddNewIssue(issue);
        NavManager.NavigateTo("/");
    }
}