﻿@using AutoMapper
@inject AppStateManager StateManager
@inject NavigationManager NavManager

<h1>Welcome</h1>
<p>@info</p>

<EditForm Model="@settings" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="gitServiceInput">Git service:</label>
        <InputSelect id="gitServiceInput" @bind-Value="settings.GitService" class="form-control">
            @foreach (var type in Enum.GetValues(typeof(GitService)))
            {
                <option value="@type">@type.ToString()</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label for="repoIdInput"> Repository id:</label>
        <InputText id="repoIdInput" @bind-Value="settings.RepositoryId" class="form-control" />
        <small id="repoIdHelp" class="form-text text-muted">"Owner/RepositoryName" for GitHub and "ProjectId" for GitLab</small>
    </div>

    <div class="form-group">
        <label for="accessTokenInput">Access token: </label>
        <InputText id="accessTokenInput" @bind-Value="settings.AccessToken" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Save</button>
</EditForm>

@code {
    private GitSettings settings = new();
    private string info = "Please provide required data";

    protected override void OnInitialized()
    {
        if (StateManager.Connected)
        {
            var currSettings = StateManager.CurrentSettings;
            settings.AccessToken = currSettings!.AccessToken;
            settings.RepositoryId = currSettings.RepositoryId;
            settings.GitService = currSettings.GitService;
        }
    }

    private async Task Submit()
    {
        StateManager.SetCommunicationManager(settings);
        info = "Settings saved";

        try
        {
            // verify does user can read repo 
            await StateManager.GetGitCommunicationManager().GetAllIssues(1, 1);
        }
        catch (HttpRequestException)
        {
            await StateManager.ResetState();
            throw;
        }

        NavManager.NavigateTo("/");
        StateHasChanged();
    }
}
